<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-globe"></span>
                SFDC App
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/oauth2/auth">My SFDC</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/logout">Logout SFDC</a></li>
        </ul>
      
    </div>
</nav>
